.search-form {
    display: flex;
    justify-content: center;
}

.search-form input {
    height: 1.9rem;
    width: 25em;

    position: relative;
    left: 25px;

    font-size: 18px;
    /* border-radius: 3px; */
}

.search-form input:focus {
    outline: none;
}

.search-form button {
    display: flex;
    align-items: center;

    width: 25px;
    background-color: transparent;
    position: relative;
    left: -3px;
    border: none;
}

.search-form button:hover {
    cursor: pointer;
} 
.search-form svg {
    font-size: 25px;
}