#search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;

    padding: 5px 4rem;
    background-color: #1a1818;

    height: 3rem;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form input {
    height: 1.9rem;
    width: 100%;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    position: relative;

    font-size: 17px;

    padding: 0 8px;
}

.search-form input:focus {
    outline: none;
}

.search-form button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    background-color: #3b3737;
    position: relative;
    border: none;
    border-top-right-radius: 42%;
    border-bottom-right-radius: 42%;

    border-collapse: collapse;
}

.search-form button:hover {
    cursor: pointer;
} 
.search-form svg {
    font-size: 25px;
    color: #f6f6f6;
}

.logo a {
    text-decoration: none;
    color: #01b4e4;
}

.logo .home {
    display: none;
}

@media (max-width: 490px) {
    .logo .popular {
        display: none;
    }

    .logo .home {
        display: block;
    }
}

@media (max-width: 360px) {
    form .search-button {
        display: none;
    }

    .search-form input {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #search-bar {
        padding: 5px 2rem;
    }

}