.search-form {
    display: flex;
    justify-content: center;
}

.search-form input {
    height: 1.9rem;
    width: 20em;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    position: relative;

    font-size: 17px;

    padding: 0 8px;
}

.search-form input:focus {
    outline: none;
}

.search-form button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    background-color: #3b3737;
    position: relative;
    border: none;
    border-top-right-radius: 42%;
    border-bottom-right-radius: 42%;

    border-collapse: collapse;
}

.search-form button:hover {
    cursor: pointer;
} 
.search-form svg {
    font-size: 25px;
    color: #f6f6f6;
}