#details {
    margin-top: 5rem;
    text-align: center;
}

.details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 7rem;
    
    padding: 0 2rem;
    
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2rem;

    /* min-width: 290px; */
    max-width: 290px;
}

.movie-image {
    width: 300px;
}

.movie-image img {
    height: 400px;
    width: 100%;
}

.overview {
    color: gray;
}

.release-date {
    color: gray;
}

.go-back {
    height: 30px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px;
    background-color: rgb(26, 168, 97);
    transition: background-color 0.3s;
}

.go-back:hover {
    background-color: #fafafa;
}
