#searchedmovies h1 {
    text-align: center;
    margin: 4rem 0;
}

#searchedmovies ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;

    padding: 0 2rem;
}

#searchedmovies h1 span{
    color: #90cea1;
}

#searchedmovies {
    margin-bottom: 4rem;
}